/********************************************************************************
    BackColor: black
    ForeColor: yellow

********************************************************************************/

html,body {
    margin:0;
    height: 100%;
    min-height:100%;
}

a{
    padding: 0 10px;
    text-decoration:none;
    color:yellow;   
}

a:hover{
    color: red;
}

ul{
    list-style-type:none;
    padding:0;
}

.liquor_lake_header{
    color: yellow;
    width: 100%; 
    height: 75px; 
    background-color: black;
}

/***********************************
    
    DEFAULT PAGE STYLES

***********************************/

.liquor_lake_default_image{
    width:100%; 
    background-image:url('/App_Themes/Master/Images/LiquorLake.png'); 
    background-size:100%;
    background-repeat:no-repeat;
    flex-grow:1;
    opacity: 0.5;
    box-shadow: 25px 25px 25px black inset;
    position:relative;
}

.liquor_lake_caret_down{
    bottom:0;
    text-align:center;
    width:100%;
    position:absolute;
    font-size:80px;
    font-weight:bold;
    color:yellow;
}

.liquor_lake_caret_down:hover{
    cursor:pointer;
}