<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
      <!-- 
      Ian(HOME): Persist Security Info=False;Integrated Security=True;Database=LiquorLake;Server=IAN-PC\SQLEXPRESS 
      Ajay: Persist Security Info=false;Integrated Security=true;database=LiquorLake;server=LAPTOP-0JB4S4GF
      School: Persist Security Info=false;Integrated Security=true;database=LiquorLake;server=(localdb)\MSSQLLocalDB
      -->
      <add name="LiquorLakeConnection" connectionString="Persist Security Info=False;Integrated Security=True;Database=LiquorLake;Server=IAN-PC\SQLEXPRESS" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2"/>
      <httpRuntime targetFramework="4.5.2"/>
    </system.web>
</configuration>
