<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobstrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <!-- 
      Ian(HOME): Persist Security Info=False;Integrated Security=True;Database=LiquorLake;Server=IAN-PC\SQLEXPRESS 
      Ajay: Persist Security Info=false;Integrated Security=true;database=LiquorLake;server=LAPTOP-0JB4S4GF
      School: Persist Security Info=false;Integrated Security=true;database=LiquorLake;server=(localdb)\MSSQLLocalDB
      Tim (Desktop): Persist Security Info=False;Integrated Security=True;Database=LiquorLake;Server=TIMOTHY-PC\SQLEXPRESS 
      -->
    <add name="LiquorLakeConnection" connectionString="Persist Security Info=False;Integrated Security=True;Database=LiquorLake;server=IAN-PC\SQLEXPRESS" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Login.aspx" name="sqlAuthCookie" timeout="60"
             path="/admin/">
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ViewCatalog.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
